
.label-report {
  display: block;
  margin-top: 20px; 
}

.report-textarea {
  width: 100%;  
  height: 250px; 
  margin-top: 20px;
}

.App-header {
  font-size: xx-large;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background: rgba(0,0,0,0.5);
  border-radius: 10px;
  margin-bottom: 20px;
}

body, html {
  height: 100%;
  margin: 0;
  background: black;
  color: white;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.character-count {
  color: #bbb;
  font-size: 12px;
  text-align: right;
  width: 100%;
  margin-top: 5px; /* Adjust spacing between input/textarea and character count */
}



input {
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #333;
  border: 1px solid #555;
  border-radius: 5px;
  color: white;
  font-size: 16px; /* Ensures text inside input and textarea is of the same size */
  font-family: Arial, sans-serif; /* Optional: Ensures the font family is consistent */
}



textarea {
  height: 100px;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #333;
  border: 1px solid #555;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-family: Arial, sans-serif;
  resize: none; /* Disables resizing */
}

/* Style placeholders */
input::placeholder, textarea::placeholder {
  color: #bbb; /* Lighter grey color for placeholders */
  font-size: 16px; /* Same font size as the input text */
  font-family: Arial, sans-serif; /* Ensuring the font family is the same */
  opacity: 1; /* Make sure it's fully visible */
}

button {
  width: 200px; /* Wider button */
  padding: 15px;
  margin-top: 20px; /* More space above the button */
  background-color:red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; /* Larger font size for the button */
}

button:hover {
  background-color:#fd2f2f; /* Slightly darker on hover */
}
